<?xml version="1.0" encoding="utf-8"?>

<!-- Web.Config Configuration File -->


<configuration>
    <system.web>
			<customErrors mode="Off" />
			<!--nsys-web-config-->
	        <compilation debug="false">
				<assemblies>
					<add assembly="GestPayCrypt, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cb85b593f17970db" />
				</assemblies>
			</compilation>
			<!---nsys-web-config-->
			
			<!--  attributo per la gestione di upload file di grandi dimensioni;
			maxRequestLength = 8192 for 8 Mb, 16384 for 16 Mb, 65536 for 64 Mb, 131072 for 128 Mb ...
			riferimento all'url: http://msdn.microsoft.com/en-us/library/e1f13641.aspx
			
			<httpRuntime 
			executionTimeout="600" 
			maxRequestLength="131072" 
			apartmentThreading = "true"
			/> -->
    </system.web>
    <system.webServer>
    <handlers accessPolicy="Read, Script" />
        <!-- <rewrite>
            <rules>
                <clear />
                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public/templates/aboutus/IT/detail.asp?gerarchia={R:1}&amp;id_news={R:2}&amp;page={R:3}&amp;modelPageNum={R:4}" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="common/include/Controller.asp?gerarchia={R:1}&amp;id_news={R:2}&amp;page={R:3}&amp;modelPageNum={R:4}" />
                </rule>
            </rules>
        </rewrite> -->
    </system.webServer>
</configuration>