.tdContainerContentIndex{
	background:url(../img/sfondo_dx.jpg) top left repeat-x;
	height:389px;
	/*padding-left:59px;
	padding-right:0px;*/
	text-align:center;
}
.tdContainerContent{
	background:url(../img/sfondo_dx.jpg) top left repeat-x;
	height:389px;
	padding-left:0px;
	padding-right:0px;
}

.tdBottom{
	text-align:center;
	/*padding-left:59px;
	padding-top:0px;*/
}

.tdHeaderBott{
	padding-left:59px;
}