<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>nemesys | home </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/stile.css" type="text/css" />
		
		
		<script type="text/javascript" src="js/function.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		
		
	</head>
	<body>
		<!-- inizio container -->
		<div id="splash_container">
			<div class="splash_nemesys">
				<h1><a href="nemesys-home.html">ne<span>me-sys</span></a></h1>
			</div>
			<div class="splash_econemesys">
				<h1><a href="econemesys-home.html">eco<span>neme-sys</span></h1></a>
			</div>			
		</div>
		<!-- fine container -->
		<div id="footer">
			<span>Powered by BHN Online Technology Merchant Copyright &copy; 2007-2010</span>
		</div>
	</body>
</html>