<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>nemesys | acquista Nemesys </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/stile.css" type="text/css" />
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/function.js"></script>
		
		
		
	</head>
	<body>
		<!-- inizio container -->
		<div id="container">
			<!-- header -->
			<div id="header" class="bg_nemesys">
				<div class="header_navbar">
					<h1 class="nemesys_h1" title="nemesys cms">ne<span>me-sys</span></h1>
					
					<div class="div_login">
						<a href="login.html">Accedi!</a> Oppure <a href="registrati.html">Registrati</a>
					</div>
				</div>
				
				 
				<div class="navbar">
						<ul>
							<li><a href="index.html">progetto</a></li>
							<li><a href="#">demo</a></li>
							<li><a href="download-nemesys.html">download</a></li>
							<li><a href="acquista-nemesys.html">acquista</a></li>
							<li><a href="contatta-nemesys.html">contatti</a></li>
						</ul>	
				</div>				
				
			</div>
			<!-- header fine -->
			
			<!-- main -->
			<div id="main">
			
				
				<!-- content -->
			
				<div class="content">
				
					<div class="carrello_prodotto">
						<div class="carrello_prodotto_img">
							<img src="images/box-nemesys.jpg" alt="box-nemesys" width="150" height="150" />
						</div>
						<div class="carrello_prodotto_txt">
							<h2>Nemesys Full 2.0</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="carrello_prodotto_prz">
							<span>Prezzo: 1234,00 &#8364;</span>
							<span>Scontato: 789 &#8364; Sconto 10%</span>
							<div class="quantita_ctrl">
								<a href="carrello-nemesys.html">Aggiungi al carrello</a>
								<a class="quantita_meno" href="#">-</a>
								<input type="text" class="carrello_prodotto_quanti" value="0" readonly="readonly" />
								<a class="quantita_plus" href="#">+</a>
							</div>
						</div>
					</div>
					
					
					<div class="carrello_prodotto">
						<div class="carrello_prodotto_img">
							<img src="images/box-econemesys.jpg" alt="box-nemesys" width="150" height="150" />
						</div>
						<div class="carrello_prodotto_txt">
							<h2>ecoNemesys 1.0</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="carrello_prodotto_prz">
							<span>Prezzo: 1234,00 &#8364;</span>
							<span>Scontato: 789 &#8364; Sconto 10%</span>
							<div class="quantita_ctrl">
								<a href="carrello-nemesys.html">Aggiungi al carrello</a>
								<a class="quantita_meno" href="#">-</a>
								<input type="text" class="carrello_prodotto_quanti" value="0" readonly="readonly" />
								<a class="quantita_plus" href="#">+</a>
							</div>
						</div>
					</div>		
					
					
					
					<div class="carrello_prodotto">
						<div class="carrello_prodotto_img">
							<img src="images/box-nemesys.jpg" alt="box-nemesys" width="150" height="150" />
						</div>
						<div class="carrello_prodotto_txt">
							<h2>Nemesys limited edition</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="carrello_prodotto_prz">
							<span>Prezzo: 1234,00 &#8364;</span>
							<span>Scontato: 789 &#8364; Sconto 10%</span>
							<div class="quantita_ctrl">
								<a href="carrello-nemesys.html">Aggiungi al carrello</a>
								<a class="quantita_meno" href="#">-</a>
								<input type="text" class="carrello_prodotto_quanti" value="0" readonly="readonly" />
								<a class="quantita_plus" href="#">+</a>
							</div>
						</div>
					</div>							
					
				</div>
				<!-- content fine -->
				
				
				
			</div>
			<!-- main fine -->
			
		</div>
		<!-- fine container -->
		<div id="footer">
			<span>Powered by BHN Online Technology Merchant Copyright &copy; 2007-2010</span>
		</div>
	</body>
</html>