<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>nemesys | home </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/stile.css" type="text/css" />
		
		
		<script type="text/javascript" src="js/function.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		
		
	</head>
	<body>
		<!-- inizio container -->
		<div id="container">
			<!-- header -->
			<div id="header" class="bg_nemesys">
				<div class="header_navbar">
					<h1 class="nemesys_h1" title="nemesys cms">ne<span>me-sys</span></h1>
					
					<div class="div_login">
						<a href="login.html">Accedi!</a> Oppure <a href="registrati.html">Registrati</a>
					</div>
				</div>
				
				 
				<div class="navbar">
						<ul>
							<li><a href="index.html">progetto</a></li>
							<li><a href="#">demo</a></li>
							<li><a href="download-nemesys.html">download</a></li>
							<li><a href="acquista-nemesys.html">acquista</a></li>
							<li><a href="contatta-nemesys.html">contatti</a></li>
						</ul>	
				</div>
				
				
				
				
			</div>
			<!-- header fine -->
			
			<!-- main -->
			<div id="main">
			
				
				<!-- content -->
			
				<div class="content">
					<h2>neme-sys - Content Management System (CMS)</h2>
					<cite>“Dove c`è una grande volontà non possono esserci grandi difficoltà!” (Niccolò Machiavelli)</cite>
				
					
					<div class="box_home">
						<div class="box_home_img">
							<img src="images/nemesys-logo-home.jpg" alt="nemesys-logo-home" width="300" height="200" />
						</div>
						<div class="box_home_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit purus, pellentesque eu commodo ac, eleifend eget dolor. Praesent ultricies adipiscing auctor. Nulla euismod lacinia mi, a consequat tortor venenatis ut. Cras non dui massa, ac vehicula elit. <a href="progetto-nemesys.html">Guarda nemesys in tutto il suo splendore</a></div>
						
					</div>
					<div class="box_home">
						<div class="box_home_img"><img src="images/econemesys-logo-home.jpg" alt="econemesys-logo-home" width="300" height="200" /></div>
						<div class="box_home_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit purus, pellentesque eu commodo ac, eleifend eget dolor. Praesent ultricies adipiscing auctor. Nulla euismod lacinia mi, a consequat tortor venenatis ut. Cras non dui massa, ac vehicula elit. <a href="progetto-nemesys.html">Guarda econemesys in tutto il suo splendore</a> </div>
					</div>
					
					
					
					
					
				</div>
				<!-- content fine -->
				
				
				
			</div>
			<!-- main fine -->
			
		</div>
		<!-- fine container -->
		<div id="footer">
			<span>Powered by BHN Online Technology Merchant Copyright &copy; 2007-2010</span>
		</div>
	</body>
</html>