<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>nemesys | Progetto Nemesys </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/stile.css" type="text/css" />
		
		
		<script type="text/javascript" src="js/function.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		
		
	</head>
	<body>
		<!-- inizio container -->
		<div id="container">
			<!-- header -->
			<div id="header" class="bg_nemesys">
				<div class="header_navbar">
					<h1 class="nemesys_h1" title="nemesys cms">ne<span>me-sys</span></h1>
					
					<div class="div_login">
						<a href="login.html">Accedi!</a> Oppure <a href="registrati.html">Registrati</a>
					</div>
				</div>
				
				 
				<div class="navbar">
						<ul>
							<li><a href="index.html">progetto</a></li>
							<li><a href="#">demo</a></li>
							<li><a href="download-nemesys.html">download</a></li>
							<li><a href="acquista-nemesys.html">acquista</a></li>
							<li><a href="contatta-nemesys.html">contatti</a></li>
						</ul>	
				</div>				
				
			</div>
			<!-- header fine -->
			
			<!-- main -->
			<div id="main">
			
				
				<!-- content -->
			
				<div class="content">
					<img src="images/nemesys-logo-home.jpg" alt="nemesys-logo-home" width="300" height="200" class="floatleft" />
					<h2>neme-sys - Content Management System (CMS)</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-contenuti.jpg" alt="ico-active-contenuti" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>AGGIORNAMENTO CONTENUTI:</h2>
							<p>Tramite un'interfaccia USER-FRIENDLY sarà possibile aggiornare  tutti i contenuti del sito aggiungendo o eliminando a proprio piacimento testi, immagini, video ed altro da qualsiasi computer.</p>
						</div>
					</div>
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-struttura.jpg" alt="ico-active-struttura" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>MODIFICHE STRUTTURA:</h2>
							<p>Nemesi permette la creazione di un numero illimitato di categorie e sottocategorie. Le sezioni del portale potranno pertanto essere ampliate in qualsiasi momento e senza l'intervento di tecnici programmatori.</p>
						</div>
					</div>
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-grafica.jpg" alt="ico-active-struttura" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>PERSONALIZZAZIONE GRAFICA:</h2>
							<p>Utilizzando lo strumento per la gestione dei templates sarà possibile personalizzare in pochi clic la grafica di ciascuna pagina.<br/>La lista di templates pre-impostati potrà essere integrata con nuove impostazioni grafiche realizzate ad hoc.</p>
						</div>
					</div>
					
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-utenti.jpg" alt="ico-active-utenti" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>GESTIONE UTENTI:</h2>
							<p>Le informazioni raccolte durante il processo di registrazione dell'utente al sito saranno automaticamente aggiunte al database utenti.<br/>Per ciascun utente registrato sarà possibile definire uno specifico set di funzionalità di interazione con il portale e di accesso ad aree riservate.</p>
						</div>
					</div>
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-interazione.jpg" alt="ico-active-utenti" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>INTERAZIONE:</h2>
							<p>Gli utenti registrati avranno a disposizione una serie di funzionalità per inte- ragire con il sito e con gli altri utenti iscritti. Avranno pertanto l'opportunità di leggere, votare ed inserire commenti per prodotti, servizi o altri contenuti definiti dal proprietario del sito internet. Sarà possibile rendere pubbliche tali informazione  o mantenerle  riservate per utilizzarle a scopi statistici. </p>
						</div>
					</div>
					
					
					<div class="specifiche">
						<div class="spec_img">
							<img src="images/ico-active-multilingua.jpg" alt="ico-active-utenti" width="100" height="120" />
						</div>
						<div class="spec_txt">
							<h2>STRUMENTO MULTILINGUE:</h2>
							<p>I contenuti potranno essere facilmente inseriti in differenti lingue grazie al sofisticato strumento di gestione multilingua. La quantità di lingue implementabili è illimitata e  la scelta a completa  discrezione del gestore del sito.</p>
						</div>
					</div>
					
					
					<div class="featured">
						<div class="featbox">
							<a href="#"><img src="images/ico-pdf-active.jpg" alt="ico-pdf" width="85" height="108" /></a>
							<a href="#">Pdf</a>
							<small>Contine tutte le informazioni tecniche su nemesys</small>
						</div>
						<div class="featbox">
							<a href="#"><img src="images/ico-download-active.jpg" alt="ico-download" width="85" height="108" /></a>
							<a href="#">Download</a>
							<small>Scarica la versione opensource interamente modificabile</small>
						</div>
						<div class="featbox">
							<a href="#"><img src="images/ico-demo-active.jpg" alt="ico-demo" width="85" height="108" /></a>
							<a href="#">Demo</a>
							<small>Prova nemesys installato su un server di prova</small>
						</div>
					</div>
					
					
				</div>
				<!-- content fine -->
				
				
				
			</div>
			<!-- main fine -->
			
		</div>
		<!-- fine container -->
		<div id="footer">
			<span>Powered by BHN Online Technology Merchant Copyright &copy; 2007-2010</span>
		</div>
	</body>
</html>