.tdContent {
	width: 60%; 
	text-align: left; 
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 3px;
}
.tdMenu {
	width: 20%; 
	text-align: left; 
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #D0D9E9; 
	white-space: nowrap;
	padding: 0px;
}
.tdMenuRight {
	width: 20%;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #F0F4F7;
	padding: 3px;
}
.tableContentLista {
	width: 100%;
	height: 100%;	
}
.tdContentLista {
	width: 100%;
	height: 100%;
	text-align: left; 
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 3px;
}
.tdContentPaginazione {
	width: 100%;
	height: 100%;
	text-align: left; 
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 3px;
}